html {
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 65px 0 0;
  background-color: #eee;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

i {
  text-indent: 0;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0;
  font-size: inherit;
  line-height: 48px;
  text-indent: 1em;
}
input:focus {
  outline: none;
}

.container {
  max-width: 600px;
  padding: 0 1em;
  margin: 0 auto;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  min-width: 48px;
  padding: 0 1em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}
.btn--default {
  background-color: #eee;
  color: #999;
}
.btn--default:hover {
  background-color: #ddd;
  color: #333;
}
.btn--no-bg {
  background: none;
  color: inherit;
}
.btn--no-bg:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown {
  padding: 1em;
}
.dropdown.is-hidden {
  display: none;
}
.dropdown--search {
  padding-right: 0;
  padding-left: 0;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  line-height: 72px;
  background-color: #FF9800;
  color: #fff;
}
.header__menu, .header__page {
  float: left;
}
.header__tools {
  float: right;
}
.header__search {
  clear: both;
}

.search {
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #fff;
  color: #999;
}
.search__btn {
  position: absolute;
  top: 0;
  right: 0;
}
.search__input {
  overflow: hidden;
  line-height: 1;
}
.search__input input {
  padding-right: 55px;
  border: none;
}

.nav {
  z-index: 200;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 250px;
  margin-right: 80px;
  transform: translateX(0);
  background-color: #eee;
  box-shadow: 0 0 20px #000;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav.is-hidden {
  transform: translateX(-100%);
  box-shadow: 0 0 0 #000;
}

.overlay {
  z-index: 150;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.is-hidden {
  display: none;
}

.card {
  position: relative;
  overflow: hidden;
  max-height: 300px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
.card::after {
  display: inline-block;
  padding-top: 100%;
  content: "";
}
